.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    gap: 15px;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 150px ;
    height: 600px;
    place-content: center;
 }

.item {
    display: grid;
    font-size: 4rem;
    border: 5px solid #00bcd4;
    place-self: end;
}

/* .item:nth-child(1),:nth-child(4){
    background-color: #a2f074;
}
.item:nth-child(2),:nth-child(5){
    background-color: #5ab625;
}
.item:nth-child(3),:nth-child(6){
    background-color: #184200;
} */
/* span {
    background-color: rgb(33, 116, 0);
    color: #fff1ff;
    width: 50px;
    height: 65px;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
} */